@model App.Areas.Airline.Models.CreateFlightModel

@{
    ViewData["Title"] = "chỉnh sửa chuyến bay";
    var listAircraftIDs = ViewData["aircraft"] as MultiSelectList;
    var listFlightSectorIDs = ViewData["flightSector"] as MultiSelectList;
}

<h1>@ViewData["Title"]</h1>
<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="AircraftIDs" class="control-label"></label>
                <select asp-for="AircraftIDs" multiple="multiple" asp-items="listAircraftIDs" class="w-100"></select>
                <span asp-validation-for="AircraftIDs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlightSectorIDs" class="control-label"></label>
                <select asp-for="FlightSectorIDs" multiple="multiple" asp-items="listFlightSectorIDs"
                    class="w-100"></select>
                <span asp-validation-for="FlightSectorIDs" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Date"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FlightNumber"></label>
                <input asp-for="FlightNumber" class="form-control" />
                <span asp-validation-for="FlightNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DepartureTime" class="control-label">Giờ khởi hành</label>
                <input asp-for="DepartureTime" type="time" class="form-control" />
                <span asp-validation-for="DepartureTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ArrivalTime" class="control-label">Giờ đến</label>
                <input asp-for="ArrivalTime" type="time" class="form-control" />
                <span asp-validation-for="ArrivalTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FlightTime"></label>
                <input asp-for="FlightTime" class="form-control" />
                <span asp-validation-for="FlightTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EcoSeat"></label>
                <input asp-for="EcoSeat" class="form-control" />
                <span asp-validation-for="EcoSeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeluxeSeat"></label>
                <input asp-for="DeluxeSeat" class="form-control" />
                <span asp-validation-for="DeluxeSeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkyBossBusinessSeat"></label>
                <input asp-for="SkyBossBusinessSeat" class="form-control" />
                <span asp-validation-for="SkyBossBusinessSeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkyBossSeat"></label>
                <input asp-for="SkyBossSeat" class="form-control" />
                <span asp-validation-for="SkyBossSeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status"></label>
                <select asp-for="Status" asp-items="@Html.GetEnumSelectList<App.Models.Airline.Flight.StatusType>()"
                    class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Danh sách chuyến bay</a>
</div>

@section Scripts {

    <script src="~/lib/multiple-select/multiple-select.min.js"></script>
    <link rel="stylesheet" href="~/lib/multiple-select/multiple-select.min.css" />

    <script>
        $("#AircraftIDs, #FlightSectorIDs").multipleSelect({
            selectAll: false,
            keepOpen: false,
            isOpen: false,
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
