@model App.Models.Airline.Airport

@{
    ViewData["Title"] = "Chỉnh sửa sân bay";
}

<h1>@ViewData["Title"]</h1>
<h4>Airport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-id="@Model.AirportId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AirportId" />

            <div class="form-group">
                <label asp-for="AirportName"></label>
                <input asp-for="AirportName" class="form-control" />
                <span asp-validation-for="AirportName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Abbreviation"></label>
                <input asp-for="Abbreviation" class="form-control" />
                <span asp-validation-for="Abbreviation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea rows="5" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Classification"></label>
                <select asp-for="Classification"
                    asp-items="@Html.GetEnumSelectList<App.Models.Airline.Airport.AirportClassification>()"
                    class="form-control"></select>
                <span asp-validation-for="Classification" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status"></label>
                <select asp-for="Status" asp-items="@Html.GetEnumSelectList<App.Models.Airline.Airport.AirportStatus>()"
                    class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Danh sách sân bay</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
