@model App.Models.Airline.Airport

@{
    ViewData["Title"] = "Xóa sân bay";
}

<h1>@ViewData["Title"]</h1>
<h3>Có chắc chắn xóa?</h3>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AirportName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AirportName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="AirportId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Danh sách máy bay</a>
    </form>
</div>
